*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/*main*/
main{width: 95%;  max-width: 120rem;
    margin: 0 auto; font-size: 25px;}

.fw-300centrar-texto{text-align: center;}

/*grid usados dentro de main*/
main{display: grid;grid-template-columns:.3fr .5fr .4fr;
grid-template-rows:.25fr .25fr ;grid-gap: 10px;}

.foto-libro{grid-column-start: 1; grid-column-end:2;
    grid-row-start:1; grid-row-end: 6;}

h2{grid-column-start: 2; grid-column-end:5;
    grid-row-start:1; grid-row-end: 2;}

.descrip{grid-column-start: 2; grid-column-end:4;
    grid-row-start:1; grid-row-end: 2;}

.disp{grid-column-start: 3; grid-column-end:5;
    grid-row-start:1; grid-row-end: 2;}


.button {grid-column-start: 5; grid-column-end:6;
     grid-row-start:3; grid-row-end: 4;}

.infolibro{grid-column-start: 3; grid-column-end:4;
    grid-row-start:3; grid-row-end: 4;
justify-content: flex-start;}

.autor{grid-column-start: 2; grid-column-end:3;
    grid-row-start:3; grid-row-end: 4;}











       

      
