 
/*main*/
main{width: 95%;  max-width: 120rem;
    margin: 0 auto; font-size: 25px;}

.fw-300centrar-texto{text-align: center;}

/*grid usados dentro de main*/
main{display: grid;grid-template-columns:.3fr .3fr .3fr;
grid-template-rows:.10fr .10fr ;grid-gap: 9px;}

.foto-libro{grid-column-start: 1; grid-column-end:2;
    grid-row-start:1; grid-row-end: 2;
 }

h2{grid-column-start: 2; grid-column-end:5;
    grid-row-start:1; grid-row-end: 2;}

.descrip{grid-column-start: 2; grid-column-end:3;
    grid-row-start:1; grid-row-end: 1;
 ;
}

.disp{grid-column-start: 3; grid-column-end:5;
    grid-row-start:1; grid-row-end: 1;
 }


.button {grid-column-start: 5; grid-column-end:6;
     grid-row-start:3; grid-row-end: 4;}

.infolibro{grid-column-start: 3; grid-column-end:4;
    grid-row-start:3; grid-row-end: 4;
justify-content: flex-start
 }

.autor{grid-column-start: 2; grid-column-end:3;
    grid-row-start:3; grid-row-end: 4;
 }


main .boton {grid-column-start: 4; grid-column-end:5;
    grid-row-start:3; grid-row-end: 4;}

*{font-size:20px;}


    /*Botones*/
    main button{font-size:20px ;
        padding:10px; color: white;
        background-color: #920000; 
        text-decoration: none; 
        border-radius: 17px; margin: auto;
        transition: 4ms;
        }

    main button:hover {background: red;}



  /** Footer **/
  .site-footer {
    background: #920000; color: white;
    margin: 0;}
    
    .contenedor-footer {
     padding: 1rem 10px; margin-top:10px;
    text-align: center;}
    
    @media (min-width: 768px) {
        .contenedor-footer {display: flex;
    justify-content: space-between;}}
    
    .site-footer nav {display: none;}
    
    @media (min-width: 768px) {
    .site-footer nav {display: block;}}  

    .contenedor{
        padding: 60px 0;
        width: 90%;
        max-width: 1000px;
        margin: auto;
        overflow: hidden ;
    
    }
    .portafolio{
        background: white ;
    }
    
    .galeria-port{
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    
    .imagen-port{
        width: 24%;
        margin-bottom: 10px;
      
        overflow: hidden;
        position:relative ;
        cursor: pointer;
        box-shadow: 0 0 6px rgba(0, 0, 0, .5);
    }
    
    .imagen-port > img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    
    }